@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg, #6a11cb 0%, #2575fc 100%);
    overflow-y: scroll;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 600;
}

.city-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.city-list li a {
    display: block;
    padding: 10px 20px;
    background-color: rgba(95, 44, 130, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s, transform 0.2s;
}

.city-list li a:hover {
    background-color: rgba(73, 160, 157, 0.8);
    transform: translateY(-5px);
}

.tip-form {
    margin-top: 20px;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tip-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
}

.tip-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.tip-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgba(95, 44, 130, 0.8);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

.tip-form button:hover {
    background-color: rgba(73, 160, 157, 0.8);
    transform: translateY(-5px);
}

.hidden {
    display: none;
}

.home-btn {
    background: rgba(95, 44, 130, 0.8);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background 0.2s, transform 0.2s;
}

.home-btn:hover {
    background: rgba(73, 160, 157, 0.8);
    transform: translateY(-5px);
}

.tip-item {
    position: relative;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    animation: fadeIn 0.5s;
    background-color: rgba(255, 255, 255, 0.1);
}

.tip-item .year {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(95, 44, 130, 0.8);
    padding: 5px 10px;
    border-radius: 50%;
    font-weight: bold;
    color: #fff;
}
